{% extends "base.html" %}


{% block headExtension %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/workloadApp/jquery.cookie.js"></script> <!--requres jquery-->
<script src="/static/workloadApp/csrfAjaxSettings.js"></script> <!--requires jquery and jquery.cookie-->
<script>
$(function(){

    $(".permanentDeleteButton").click(
        function() {

            var clickedButton = $(this);

            $.ajax({
                    type: "POST",
                    url: "doPermanentDelete/",
                    data: { lectureId : clickedButton.attr("lectureId") },
                    success: function(data){
                        clickedButton.parent().parent().remove();
                    }
            });
        }
    );
})
 </script>
{%endblock%}

{% block header %} 

    <a href="..">
        <div id="homeButton">
            <img id="homeButtonGraphic" src="/static/workloadApp/backButton.png">
        </div>
    </a>

<div id="advice">
Permanently Delete Data
</div>

{% endblock %}

{% block content %}
<div class="notification">
    The data you enter on this website is stored in a pseudonymous form and not connected to your name. The Fachschaftsrat Physik uses it in cooperation with the ZENTRUM FÜR QUALITÄTSANALYSE in order to improve the quality of the teaching at TU Dresden for you and your fellow students. Please consider this before deleting your data. If you click on "delete permantely", all data you entered about the corresponding lecture will be deleted from the database, though we can not guarantee it might not remain on a backup copy for an undefined amount of time.
</div>

    {% for lecture in allLectures %}
        <div class="wideItem nobutton" id="lectureIDIs{{lecture.id}}">
            <div class="itemText">
                <span>{{lecture.name}}</span>
                <a href="javascript:void(0)"><span class="permanentDeleteButton" lectureId={{lecture.id}} >Delete</span></a>
            </div>
        </div>
    {% endfor %}

{% endblock %}


