<!DOCTYPE htclass>
<body>

    <head>
        <title> Workload-Umfrage TU Dresden</title>
        <link href="/static/workloadApp/default.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="header">
            <a href="/workload/">
                <div id="homeButton">
                    <img id="homeButtonGraphic" src="/static/workloadApp/calendarIcon.svg">
                </div>
            </a>
            <div id="title">
            {% block title %}{% endblock %}
            </div >
            <a href="/workload/options/">
                <div id="optionsButton">
                    <img id="optionsButtonGraphic" src="/static/workloadApp/optionsButton.svg">
                </div>
            </a>
        </div><!-- close header -->

        <div id="content">
            {% if hasNotification %}
                <div class="notification">
                    Notification:
                    {{notification}}
                </div>
            {% endif %}
            {% block content %}{% endblock %}
        </div>

    </body>
</html>
