<!DOCTYPE html>
<body>

    <head>
        <title> Workload-Umfrage TU Dresden</title>
        <link href="/static/workloadApp/default.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="header">
            <div id="headerBar">
                <div id="homeButton"><a href="/workload/">HOME</a></div>
                {% block title %}{% endblock %}
            </div>
            <a href="/workload/options/">
                <div id="optionsButton">
                    <img id="optionsButtonGraphic" src="/static/workloadApp/optionsButton.svg">
                </div>
            </a>
        </div><!-- close header -->

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </body>
</html>
