


body{
	margin: 0;
	font-family: "Arial";
	background-color: white;
	min-height: 100%;
}



#header{
	background-color: #2F4067;
	height: 10em;
	width: 100%;
	color: white;
	overflow: hidden; /*this is supposed to cause a block formatting context where all elements are vertically aligned, but I do not see this happening*/
}

.iconButton{
	width: 10em;
	height: 10em;
	float: right;
}

.iconButtonGraphic{
	height: 8em;
	width: 8em;
	padding: 1em;
}

#homeButton{
	height: 10em;
	width: 10em;
	float: left;
}


#homeButtonGraphic{
	padding: 1em;
	height: 8em;
	width: 8em;
}

#content{
	min-height: 100%;
	overflow: hidden;

}

#calendar{
	overflow: hidden;
	margin-top: 1em;
}

.calendarYearContent{
	display: inline-block;
	margin: 0 1em;
}

.calendarYearDivider{
	overflow: hidden;
	width: 100%;
	text-align: center;
	font-size: 400%;
	margin: 0 0.5em;
}

#title{
	margin: 0.2em 0.333333em;
	font-size: 6em;
	float: left;
}


#advice{
	padding-top: 1em;
	font-size: 3em;
	width: 59%;
	float: center;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



.weekButton{
	float:left;
	width: 10em;
	margin: 1em;
	border-width: 0.3em;
	padding: 0.2em;
}

.isCurrentWeek{
	border-style: dotted !important;
}


.wideButton{
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	border-radius: 1em;
}


.button{
	height: 10em;
	border-style: solid;
	text-align: center;
	background-color: #D8D8D8;
	border-radius: 1em;
}

.buttonText{
	font-size: 3em;
	margin-top: 1em; 
}

.wideItem{
	padding: 3em;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	background-color: #D8D8D8;
	border-radius: 1em;
}

.itemText{
	font-size: 3em;
}

.removeLectureButton{
	max-height:1em;
	margin-left: 0.5em;
}

a{max-width:100%; max-height:100%;
	text-decoration: none;
	color: inherit;
}


.red{
	color: black;
	background-color: #F0F2F6;
}

.green{
	color: black;
	background-color: #8B94B1;

}

.notification{
	height: 1em;
	text-align: center;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	padding-top: 0.5em;
	font-size: 200%;
	-webkit-animation:fade-in 1s infinite;
}



.calendarDates{
	font-size: 220%;
	text-align: center;
	margin-top: 0.5em;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


input[type="number"]{
	height: 1.6em;
	width: 3em;
	padding: 0.3em;
	margin: 0 0.3em 0 0.3em;
	border-radius: 0.3em;
	text-decoration: none;
	font-size: 100%;
	border-style: none;
	border-color: rgb(200,200,200);
	background-color: white;
}

.inputInvalid{
	background-color: #C8A2C8;
}

button{
	border  : none;
    margin      : 0px;
    padding     : 0px;
    width: 90%;
}

footer{
	margin-top: 3em;
	background-color: #2F4067;
	overflow: hidden;
	padding: 1em 0em;
	width: 100%;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

 footer .footerElement{
 	flex-basis: 18em;
 	padding: 1em;
	height: 8em;
}

footer a {
	text-decoration: underline;
}

#privacyText{
	text-align: justify;
	font-size: 1.5em;
}

#privacyText a {
	text-decoration: underline;
}

input[type="submit"]{
	height: 1.6em;
	padding: 0.3em;
	margin: 0.3em;
	border-radius: 0.3em;
	text-decoration: none;
	font-size: 100%;
	border-style: solid;
	border-color: black;
	text-align: center;
	background-color: #D0D0D0;
}

input[type="checkbox"]{
	height: 1em;
	width: 1em;
	text-decoration: none;
	font-size: 100%;
	margin-right: 1em;
	outline: 0.2em solid black;
}


.chart{
	margin: 3em;
}

.tip{
	float: right; /*a hack that works in this case*/
	background-color: #2F4067;
	width: 1em;
	height: 1em;
	border-radius: 1.6em;
	padding: 0.3em;
	color: white;
}

.help-overlay{

}


.help-overlay-text{
	margin-top: 4em;
	margin-left: 10%;
	text-align: center;
	font-size: 300%;
	font-family: Comic Sans;
	width: 60%;
	float: left;
	margin-bottom: 8em; /*quick fix because footer won't stay down*/
}

.help-overlay-image{
	max-width: 25%;
	max-height: 20em;
	float: right;
}