body{
	margin: 0;
}

#header{
	border-bottom-style: solid;
	height: 2.5em;
	width: 100%;
}

#headerBar{
	width: auto;
	height: 100%;
	float: left;
}

#optionsButton{
	width: 3em;
	height: 100%;
	float: right;

	border-left-style: solid;
}

#optionsButtonGraphic{
	height: 2.5em;
	width: 3em;
}

.weekButton{
	float:left;
	height: 4em;
	width: 4em;
	margin: 0.5em;
	border-style: solid;
}

a{
	text-decoration: none;
	color: inherit;
}


.red{
	background-color: red;
}

.green{
	background-color: green;

}

.weekNumber{
	text-align: center;
	margin: auto;
	font-size: 200%;	
}