{% extends "base.html" %}

{% block header %}

		<div id="title">
			TIME MONITOR
		</div>



{% endblock %}

{% block content %}
	<div id="calendar">
		{% for year in weeksHaveDataShaped %}
			<div class="calendarYearDivider"> {{year.0.0.year}}</div>
			<div class="calendarYearContent">
			{% for weekData in year %}
				<a href="../selectLecture?year={{weekData.0.year}}&week={{weekData.0.week}}">
					<div class="weekButton button {{weekData.1}} {{weekData.2}}">
						<div class="weekNumber">
							{{weekData.0.week}} 
						</div>
						<div class="calendarDates">
							{{weekData.0.monday | date:"d.m."}} - <br/> 	
							{{weekData.0.sunday | date:"d.m."}}	
						</div>
					</div>
				</a>
			{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}