{% extends "base.html" %}

{% block headExtension %}
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script>
$(function(){


function isValid(){

	var isValid = true;
	$('#workingHoursEntryForm .timeInput').each(function(){
		if (! $(this).val().match(/^\d+\.?\d*$/) ){
			isValid = false;
			$(this).addClass("inputInvalid");
		}
		else{
			$(this).removeClass("inputInvalid");
		}
	});
	return  isValid;
}

$("#workingHoursEntryForm").keyup(function() {

	if( ! isValid()){ //if the entries are not valid, we mark them and do not submit
		$("#status").fadeOut(600, function() {
        	$(this).text('Invalid entry.').fadeIn(600);
    	});
		return false;
	}

    var url = "../postWorkloadDataEntry";

    $("#status").fadeOut(500, function() {
        	$(this).text('Saving...').fadeIn(500);
    	});
    $.ajax({
           type: "POST",
           url: url,
           data: $("#workingHoursEntryForm").serialize(), // serializes the form's elements.
           success: function(data)
           {
               $("#status").stop().fadeOut(400, function() {
        			$(this).text('All changes saved.').fadeIn(500);
    			});
           }
         });

    return false; // avoid to execute the actual submit of the form.
});


})
 </script>
{%endblock%}

{% block header %} 

    <a href="../selectLecture/?year={{year}}&week={{week}}">
        <div id="homeButton">	
            <img id="homeButtonGraphic" src="/static/workloadApp/backButton.svg">
        </div>
    </a>

<div id="advice">
... enter your data ...
</div>

{% endblock %}

{% block content %}

<div id="status" class="notification"></div>

<form id="workingHoursEntryForm" >
{% csrf_token %}
	<div class="wideItem">
		<div class="itemText">
		    <label for="hoursInLecture">hours spent attending</label>
			<input type="number" step="any" name="hoursInLecture" class ="timeInput" id="hoursInLecture" min="0" max="99" value="{{hoursInLecture}}"></br>
		</div>
	</div>


	<div class="wideItem">
		<div class="itemText">
			<label for="hoursForHomework">hours spent doing homework</label>
			<input type="number" step="any" name="hoursForHomework" class ="timeInput" id="hourForHomework" min="0" max="99" value="{{hoursForHomework}}"></br>
		</div>
	</div>

	<div class="wideItem">
		<div class="itemText">
			<label for="hoursStudying">hours spent studying</label>
			<input type="number" step="any" name="hoursStudying" class ="timeInput" id="hoursStudying" min="0" max="99" value="{{hoursStudying}}"></br>
		</div>
	</div>

	<input type="hidden" name="year" value="{{year}}">
	<input type="hidden" name="week" value="{{week}}">
	<input type="hidden" name="lectureId" value="{{lectureId}}">

</form>

{% endblock %}
