{% extends "base.html" %}

{% block title %}Enter workload data {% endblock %}

{% block content %}
<form action="../postWorkloadDataEntry" method="post" >
{% csrf_token %}
	<div class="wideItem">
		<div class="itemText">
		    <label for="hoursInLecture">hours spent attending</label>
			<input type="number" name="hoursInLecture" id="hoursInLecture" min="0" max="99" value="0"></br>
		</div>
	</div>


	<div class="wideItem">
		<div class="itemText">
			<label for="hoursForHomework">hours spent doing homework</label>
			<input type="number" name="hoursForHomework" id="hourForHomework" min="0" max="99" value="0"></br>
		</div>
	</div>

	<div class="wideItem">
		<div class="itemText">
			<label for="hoursStudying">hours spent studying</label>
			<input type="number" name="hoursStudying" id="hoursStudying" min="0" max="99" value="0"></br>
		</div>
	</div>

	<input type="hidden" name="year" value="{{year}}">
	<input type="hidden" name="week" value="{{week}}">
	<input type="hidden" name="lectureId" value="{{lectureId}}">


	<div class="wideItem">
		<div class="itemText">
			<input type="submit" value="Submit" />
		</div>
	</div>
</form>

{% endblock %}