{% extends "base.html" %}

{% block header %} 

    <a href="/app/workload/">
        <div id="homeButton">
            <img id="homeButtonGraphic" src="/static/workloadApp/backButton.png">
        </div>
    </a>

<div id="advice">
OPTIONS
</div>

{% endblock %}

{% block content %}
	<a href='chosenLectures/'>
		<div class="button wideButton">
			<div class="buttonText">
				Manage Lectures
			</div>
		</div>
	</a>
	<a href='/app/workload/privacyAgreement/'>
		<div class="button wideButton">
			<div class="buttonText">
				Privacy Agreement
			</div>
		</div>
	</a>
	<a href='{{logout_link}}'>
		<div class="button wideButton">
			<div class="buttonText">
				Logout
			</div>
		</div>
	</a>
{% endblock %}


