{% extends "base.html" %}

{% block title %} Select Lecture{% endblock %}

{% block content %}
	{% for lecture in lecturesToDisplay %} <!--# "lecturesToDisplay" : zip(lecturesThisWeek, lectureHasData)-->
	<a href="../enterWorkloadData/?year={{year}}&week={{week}}&lectureId={{lecture.0.pk}}">
		{%if lecture.1 %} <!-- if lecture has data for this week and student -->
		<div class="green wideButton button ">
		{% else %}
		<div class="red wideButton button ">
		{% endif %}
			<div class="buttonText">
				{{lecture.0.name}}
			</div>
		</div>
	</a>
	{% endfor %}
{% endblock %}
