{% extends "base.html" %}
{% load json_filters %}

{% block headExtension %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>

	<script type="text/javascript">
        $(function () {
        $('#container').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Time Spent Each Week',
                    style:{
                    	fontSize:'2.5em'
                    }

            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: {{diagram1.categories | jsonify| safe }},
                tickmarkPlacement: 'on',
                title: {
                    enabled: false
                },
                labels: {
                    style:{
                    	fontSize:'1.5em'
                    }
                }
            },
            yAxis: {
                title: {
                    text: 'hours',
                    style:{
                    	fontSize:'1.5em'
                    }
                },
                labels: {
                    formatter: function () {
                        return this.value ;
                    },
                    style:{
                    	fontSize:'1.5em'
                    }
                }
            },
            tooltip: {
                shared: true,
                valueSuffix: ' hours'
            },
            plotOptions: {
                area: {
                    stacking: 'normal',
                    lineColor: '#666666',
                    lineWidth: 1,
                    marker: {
                        lineWidth: 1,
                        lineColor: '#666666'
                    }
                }
            },
            series: {{diagram1.series | jsonify|safe}}
        });
    });


    $(function () {
        $('#container2').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Total Time per Lecture',
                style:{
                    	fontSize:'2.5em'
                    }
            },
            xAxis: {
                categories: {{diagram2.categories | jsonify | safe}}
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'hours',
                    style:{
                        fontSize:'1.5em'
                    }
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: {{diagram2.series | jsonify | safe}}
        });
    });


    $(function () {
    $('#container3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Total time spent per activity',
             style:{
                        fontSize:'2.5em'
                    }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        fontSize : '2em'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Time per activity',
            data: {{pie1 | jsonify | safe}}
            }]
        });
    });

    $(function () {
    $('#container4').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'Total time spent per Lecture',
            style:{
                        fontSize:'2.5em'
                    }
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        fontSize : '2em'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Time per lecture',
            data: {{pie2 | jsonify | safe}}
            }]
        });
    });



	</script>
{% endblock %}

{% block header %} 

    <a href="/app/workload/options/">
        <div id="homeButton">	
            <img id="homeButtonGraphic" src="/static/workloadApp/backButton.png">
        </div>
    </a>

<div id="advice">
 Your statistics
</div>

{% endblock %}


{% block content %}
<div class="grid">
    <div class="grid-cell chart pie" id="container3"></div>

    <div class="grid-cell chart pie" id="container4"></div> 

    <div class="grid-cell chart histogram" id="container"></div>

    <div class="grid-cell chart histogram" id="container2"></div>
</div>

{% endblock %}