{% extends "base.html" %}

{% block header %} 

    <a href="/app/workload/options/chosenLectures/addLecture/">
        <div id="homeButton">
            <img id="homeButtonGraphic" src="/static/workloadApp/backButton.png">
        </div>
    </a>

<div id="advice">
... choose a lecture ...
</div>

{% endblock %}

{% block content %}
		{% for lecture in lectures%}
			<a href="../?addLecture={{lecture.id}}&notification=Lecture was added to your list">
				<div class="button wideButton">
					<div class="buttonText">
						Add {{lecture.name}}
					</div>
				</div>
			</a>
		{% endfor %}

{% endblock %}
