{% extends "base.html" %}

{% block title %}Choose Semester 	UserID: {{ user.student.permanentId }} Status: logged in.{% endblock %}

{% block content %}
	Please select the semester in which the lecture occurs</br>

	{% for semester in allSemesters%}
		<div class="button wideButton">
			<div class="buttonText">
				<a href="?semester={{semester}}">{{semester}}</a></br>
			</div>
		</div>
	{% endfor %}
	<!-- in case of higher hirarchies, resubmit all categories selected in the previous step -->

{% endblock %}