{% extends "base.html" %}

{% block header %} 

    <a href="/app/workload/options/chosenLectures/">
        <div id="homeButton">
            <img id="homeButtonGraphic" src="/static/workloadApp/backButton.png">
        </div>
    </a>

<div id="advice">
... choose a semester ...
</div>

{% endblock %}

{% block content %}
	{% for semester in allSemesters%}
		<a href="?semester={{semester}}">
			<div class="button wideItem">
				<div class="buttonText">
					{{semester}}</br>
				</div>
			</div>
		</a>
	{% endfor %}
	<!-- in case of higher hirarchies, resubmit all categories selected in the previous step -->

{% endblock %}