{% extends "base.html" %}


{% block header %} 

    <a href="/app/workload/">
        <div id="homeButton">
            <img id="homeButtonGraphic" src="/static/workloadApp/backButton.svg">
        </div>
    </a>

<div id="advice">
 ... add or remove ...
</div>

{% endblock %}

{% block content %}
	{% for lecture in chosenLectures %}
		<div class=" wideItem">
			<div class="itemText">
				{{lecture.name}} <a href=/app/workload/options/chosenLectures/?lectureId={{lecture.id}}&redirectTo=/workload/options/chosenLectures/><img class="removeLectureButton"src="/static/workloadApp/deleteIcon.png"></a>
			</div>
		</div>
	{% endfor %}
	<div class="button wideButton">
		<a href=addLecture/>
			<div class="buttonText">
				Add a lecture
			</div>
		</a>
	</div>

{% endblock %}