{% extends "base.html" %}


{% block header %} 

    <a href="../">
        <div id="homeButton">
            <img id="homeButtonGraphic" src="/static/workloadApp/backButton.png">
        </div>
    </a>

<div id="advice">
	add or remove
</div>

{% endblock %}

{% block content %}
	{% for lecture in chosenLectures %}
		<div class="wideItem nobutton">
			<div class="itemText">
				{{lecture.name}} <a href=/app/workload/options/chosenLectures/?lectureId={{lecture.id}}&redirectTo=/workload/options/chosenLectures/><img class="removeLectureButton"src="/static/workloadApp/deleteIcon.png"></a>
			</div>
		</div>
	{% endfor %}
	<a href=addLecture/>
		<div class="button wideItem">
			<div class="buttonText">
				Add a lecture
			</div>
		</div>
	</a>

{% endblock %}