{% extends "base.html" %}

{% block title %}Chosen Lecturs {% endblock %}

{% block content %}
	{% for lecture in chosenLectures %}
		<div class=" wideItem">
			<div class="itemText">
				{{lecture.name}} <a href=/workload/options/chosenLectures/?lectureId={{lecture.id}}&redirectTo=/workload/options/chosenLectures/><img class="removeLectureButton"src="/static/workloadApp/deleteIcon.png"></a>
			</div>
		</div>
	{% endfor %}
	<div class="button wideButton">
		<div class="buttonText">
			<a href=addLecture/>AddLecture</a>
		</div>
	</div>

{% endblock %}