{% extends "base.html" %}

{% block headExtension %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="/static/workloadApp/tipr.css" rel="stylesheet">
<script src="/static/workloadApp/tipr.js"></script>
{%endblock%}

{% block header %} 

    <a href="../">
        <div id="homeButton">
            <img id="homeButtonGraphic" src="/static/workloadApp/backButton.png">
        </div>
    </a>

<div id="advice">
Settings
</div>

{% endblock %}

{% block content %}

<div id="status" class="notification"></div>

<div class=" wideItem">
	<div class="itemText">
	     Semester of study: {{semesterOfStudy}}
	</div>
</div>

<div class=" wideItem">
	<div class="itemText">
		Account ID: {{studentID}}
	</div>
</div>

<a href='permanentDelete/'>
	<div class="button wideItem">
		<div class="buttonText">
			Permanently Delete Data
		</div>
	</div>
</a>

{% endblock %}


